annotated-types
anyio
APScheduler
beautifulsoup4
blinker
certifi
cffi
charset-normalizer
click
cohere
cuda-bindings
cuda-pathfinder
curl_cffi
easyocr
fastavro
filelock
Flask
frozendict
fsspec
h11
hf-xet
httpcore
httpx
huggingface_hub
idna
ImageIO
itsdangerous
Jinja2
lazy_loader
MarkupSafe
mpmath
multitasking
networkx
ninja
numpy
opencv-python-headless
packaging
pandas
peewee
pillow
platformdirs
protobuf
pyclipper
pycparser
pydantic
pydantic_core
python-bidi
python-dateutil
python-dotenv
pytz
PyYAML
RapidFuzz
requests
scikit-image
scipy
setuptools
shapely
shellingham
six
soupsieve
sympy
tifffile
tokenizers
torch
torchvision
tqdm
triton
typer-slim
types-requests
typing-inspection
typing_extensions
tzlocal
urllib3
websockets
Werkzeug
yfinance
cors
flask-cors